.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-block-end: 2rem;
    padding-inline: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0.677), rgba(255, 255, 255, 0.323));

    img {
        width: 150px;
        cursor: pointer;
    }

    .btns-container {
        display: flex;
        align-items: center;
        gap: .9rem;
        color: $abra-text-color;

        .nav-link {
            font-size: 1.3rem;
            cursor: pointer;
            padding: .5rem;
            border-radius: .5rem;

            &.active {
                background-color: rgba(255, 255, 255, 0.466);
            }

            &:hover {
                text-decoration: underline solid $abra-color;
            }
        }

        .btn-toggle-deg-type {
            font-size: 1.1rem;
        }

        .css-j204z7-MuiFormControlLabel-root{
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }

}